h1 {
  text-align: center;
}

#result {
  font-size: 120pt;
}
#result .report {
  font-weight: bold;
}
#result #isValid {
  color: blue;
}
#result #isNotValid {
  color: red;
}

.suggestion {
  padding: 4px 10px;
  background-color: #ddd;
  margin: 0px 4px;
  display: inline-block;
}

#about {
  position: absolute;
  bottom: 20px;
}
